<h1>Upload an island</h1>
<%= form_for @page do |f| %>
<%=f.label :id %>
<%= label_tag("Title:") %>
  <%= f.text_field :title %>
  <p><%= label_tag("Picture:") %>
  <%= f.file_field :picture %></p>
  <p><%= f.submit %></p>
<% end %>